
        <html>
        <head>
            <title>Tabla de Símbolos</title>
            <link rel="stylesheet" href="./css/styles.css">
            <style>
                body { font-family: Arial, sans-serif; padding: 20px; }
                h1 { color: #333; }
                table { width: 100%; border-collapse: collapse; margin-top: 20px; }
                th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
                th { background-color: #f2f2f2; }
            </style>
        </head>
        <body>
            <h1>Tabla de Símbolos</h1>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Ámbito</th>
                    <th>Valor</th>
                </tr>
        <tr><td>x</td><td>entei</td><td>global</td><td>10</td></tr><tr><td>y</td><td>entei</td><td>global</td><td>20</td></tr><tr><td>total</td><td>entei</td><td>global</td><td><function handle_method_call.<locals>.call_with_scope at 0x000002A16D90FD80></td></tr><tr><td>resultado</td><td>entei</td><td>local</td><td>t0</td></tr><tr><td>mensaje</td><td>stantler</td><td>local</td><td>Hola</td></tr>
            </table>
        </body>
        </html>
        